* {
  box-sizing: border-box;
}
html {
  height: 100%;
  display: block;
  overflow: hidden;
}
body {
  margin: 0 auto;
  background: #304850;
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, li, span {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
  color: #444;
}

.btn {
  border: 1px solid #47DDC8;
  background: transparent;
  color: #47DDC8;
  border-radius: 20px;
  margin-bottom: 0;
  padding: 10px 20px;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
  transition: .3s ease-in-out;
  &:hover {
    border: 1px solid #fff;
    background: #fff;
    color: #333;
  }
}